# Python
venv/
__pycache__/
*.pyc

# Environment variables
*.env

# Databases
*.db
data/
offload_weights/


# ML / cache (VERY IMPORTANT for your project)
.cache/
.huggingface/
*.pt
*.bin
*.safetensors
*.zip

*.jsonl
*.tar.gz
index.html
else:
if
import
except
try:
0:
.caa/
bin/
__MACOSX/
*.log
spider_data/
train/
dev_20240627/

/models