# Python
venv/
__pycache__/
*.pyc

# Environment variables
*.env

# Databases
*.db
data/
offload_weights/


# ML / cache (VERY IMPORTANT for your project)
.cache/
.huggingface/
*.pt
*.bin
*.safetensors
*.zip
